[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "lib/Adafruit_BMP280_Library"]
	path = lib/Adafruit_BMP280_Library
	url = https://github.com/adafruit/Adafruit_BMP280_Library.git
[submodule "lib/Adafruit_Si7021"]
	path = lib/Adafruit_Si7021
	url = https://github.com/adafruit/Adafruit_Si7021.git
[submodule "lib/Adafruit_TSL2561"]
	path = lib/Adafruit_TSL2561
	url = https://github.com/adafruit/Adafruit_TSL2561.git
